@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&Montserrat&family=Oswald&family=Roboto&display=swap"); /* ===== Scrollbar CSS ===== */

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #b5b6b7;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: #b5b6b7;
  border-radius: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #141414;
  color: #ffffff;

  font-family: "Montserrat", sans-serif;
  overflow-x: clip;
}

h1,
h3,
h2,
h5,
h4,
p {
  margin: 0px;
}

a {
  text-decoration: none;
}

li:hover {
  cursor: pointer;
}
